
@{
    ViewBag.Title = "Home";
}
<head>
    <style>
        body {
            background-image: url(/media/david-troeger-M8xxVih_V_U-unsplash.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        h2 {
            color:aquamarine;
            font-family:'Bookman Old Style';
        }

        h4{
            color:azure;
            font-family:Constantia;
        }

        h3 {
            color:darksalmon;
            font-family:Constantia;
        }
        
         img{
             width:500px;
             height:280px;
         }
       
         .jumbotron{
             background-color:lightseagreen;
             height:200px;
         }


    </style>
</head>
<body>
    <div class="jumbotron">
        <h2>HOMEWORK ASSIGNMENT 4</h2>

        <div>
            <h4> This assignment focuses on the greenpeace organization as a non-profit organization that addresses socio-economic issues meant to align with sustainable development goals. 
            The following contents below consist of use case narratives and a class structure diagram.</h4>
        </div>
    </div>
    <div>
        <div class="container">
            <div class=" row">

                <div class="col-md-6">
                    <div class="row">

                        <div class="container">
                            <h3>Use case narrative 1</h3>
                            <br />
                            <div>
                                <img src="~/media/UC narrative 1.jpg" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="container">
                            <h3>Use case narrative 2</h3>
                            <br />
                            <div>
                                <img src="~/media/UC narrative 2.jpg" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="container">
                            <h3>Use case narrative 3</h3>
                            <br />
                            <div>
                                <img src="~/media/UC narrative 3.jpg" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="container">
                            <h3>Use case narrative 4</h3>
                            <br />
                            <div>
                                <img src="~/media/UC narrative 4.jpg" />
                            </div>
                        </div>

                    </div>
                    <div class=" row">

                        <div class="container">
                            <h3>Use case narrative 5</h3>
                            <br />
                            <div>
                                <img src="~/media/UC narrative 5.jpg" />
                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-6">

                    <div class="container">
                        <h3>Class structure diagram</h3>
                        <br />
                        <div>
                            <img src="~/media/class diagram.jpg" style="width:600px;height:800px;" />
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</body>


